In [21]:
import numpy as np
import pandas as pd

In [24]:
sensor_data = np.load('data/sensor_data.npy')
velocity_data = np.load('data/velocity_data.npy')
keys = pd.read_json('data/keys.json')

In [19]:
velocity_data = np.round(velocity_data, 2)

In [25]:
sensor_data.shape

(6534, 2, 3)

In [26]:
velocity_data.shape

(6533,)

In [27]:
keys

      119  97   100  112
0     NaN  NaN  NaN  NaN
1     NaN  NaN  NaN  NaN
2     NaN  NaN  NaN  NaN
3     NaN  NaN  NaN  NaN
4     NaN  NaN  NaN  NaN
...   ...  ...  ...  ...
6528  1.0  0.0  0.0  NaN
6529  1.0  0.0  0.0  NaN
6530  1.0  0.0  0.0  NaN
6531  1.0  0.0  0.0  NaN
6532  1.0  0.0  0.0  1.0

[6533 rows x 4 columns]